@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {
  background: #ffff;
  color: #333;
  font-family: "Nunito";
}
a {
  color: #333;
  text-decoration: none;
}

nav {
  margin: 10px auto 80px;
  padding: 10px 50;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /* border-bottom: 1px solid #ddd; */
}
nav a {
  margin-left: 12px;
}
nav .logo {
  margin-right: auto;
}

footer {
background-color: #fafbff;
 align-items: inherit;
  padding: 50px 40px;
  margin-top: 60px;
  color: #777;
  
}

.not-found{
  text-align: center;
}

.not-found a{
  color: #4979ff;
  text-decoration: underline;
}